.filerobot-image-editor-root {
  height: 100%;
}

.MuiOutlinedInput-input {
  padding: 6px 25px 7px 10px !important;
}

#input-width-label, #input-height-label {
  color: #a1a1a1;
  font-size: 16px;
  font-family: "Poppins";
}

#input-width, #input-height {
  color: #a1a1a1;
  font-size: 12px;
  font-family: "Poppins";
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline {
  border: 1px solid #353535;
  padding: 5px 10px;
  line-height: 20px;
  height: 32px;
}

.MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: none!important;
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-formControl.MuiInput-formControl {
  margin-top: 18px!important;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* .MuiInput-underline:after {
  background-image: url('/assets/images/select-dropdown.png');
  content: "";
} */

.up-icon {
  right: 6px;
  top: 23px;
  transform: rotate(180deg)!important;
  padding: 3px!important;
  border-radius: inherit!important;
  background-color: white!important;
  cursor: row-resize!important;
}

.icon-width-box, .icon-height-box {
  opacity: 0;
}

.icon-width-box:hover {
  opacity: 1;
}

.icon-height-box:hover {
  opacity: 1;
}

.down-icon {
  right: 6px;
  top: 34px;
  padding: 3px!important;
  border-radius: inherit!important;
  background-color: white!important;
  cursor: row-resize!important;
}